@use './partials/index' as *;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,300;0,500;0,600;1,700&display=swap');

header {
  color: white;
  @include themify($themes) {
    background-color: themed('header');
  }
  section {
    text-align: center;
    @include flex(center, center, column, 2rem);

    h1 {
      font-size: 3rem;
      font-weight: 700;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 300;
    }
    img {
      max-width: 100%;
    }

    p {
      font-weight: lighter;
      max-width: 600px;
      margin: 0 auto;
      line-height: 24px;
    }
  }
}

#featuers {
  @include themify($themes) {
    background-color: themed('featuresBg');
    color: themed('featuresText');
  }
  section {
    @include flex(center, center, column, 2rem);

    #featuers__discription {
      @include flex(space-between, center, row, 2rem);
      div {
        h2 {
          font-size: 1.2rem;
          margin-block-end: 2rem;
        }
        p {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }

    .footnotes::before {
      content: '1.';
      line-height: 3;
    }
  }
}

@media screen and (max-width: $tablet-size) {
  #featuers {
    section {
      display: block;

      #featuers__discription {
        flex-direction: column;
        margin-block: 2rem;
      }
    }
  }
}
